//- Site informations
- var lang = 'pt'
- var path = './'

- var pathStyleguide = "/styleguide/"

//- Page informations
- var title = title || 'Arezzo APP'
- var metaDesc = metaDesc || 'ES6'

//- Templates classes
- var template = template || "t-base"
